$task: '.taskItem';
$edit: '.edit';

#{$task} {
    padding: 20px 10px;
    margin-left: 0;
    border-bottom: 1px solid #b1b1b1;
    display: flex;
    align-items: center;
    overflow-x: hidden;

    &:last-child {
        border-bottom: none;
    }

    &:hover {
        #{$task}__events {
            transform: translateX(0);
            opacity: 1;
        }
    }

    &__checkbox {
        margin-right: 10px;
    }

    &__name {
        font-size: 16px;
        color: #353535;
        flex-grow: 2;
        margin-right: 10px;
    }

    &__done {
        text-decoration: line-through;
    }

    &__events {
        position: relative;
        transform: translateX(100%);
        opacity: 0;
        font-size: 18px;
        transition-duration: 0.5s;
    }

    &__edit {
        margin-right: 10px;
        cursor: pointer;
        color: #4cb54c;
        transition-duration: 0.3s;
        &:hover {
            color: #057d05;
        }
    }

    &__delete {
        color: red;
        cursor: pointer;
        transition-duration: 0.3s;
        &:hover {
            color: #981111;
        }
    }
}

#{$edit} {
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    &__field {
        flex-grow: 2;
        margin-right: 10px;
        position: relative;
    }

    &__events {
        font-size: 18px;
    }

    &__close {
        color: red;
        cursor: pointer;
        margin-right: 20px;
    }

    &__confirm {
        cursor: pointer;
        color: green;
    }

    &__error {
        width: 100%;
        display: none;
        color: red;
        font-size: 12px;
        position: absolute;
        top: calc(100% + 2px);
        left: 0;
    }

    &__errorShow {
        display: block;
    }
}